{#

search-result component

#}

{# Avoid awkward situation where an include inside an include is rejected by a PHP template #}
{% if path is not defined %}
  {% set path = '../' %}
{% endif %}

{# If some key variables are missing, load in the default content #}
{% if title is empty %}
  {% set title = 'Search result title' %}
{% endif %}

{% if summary is empty %}
  {% set summary = 'Your support help research and conservation at Barnes, so we can present our exhibitions and events.' %}
{% endif %}

{% if url is empty %}
  {% set url = 'http://www.barnesfoundation.org/page-url' %}
{% endif %}

<div class="m-search-result">
  <h2 class="font-delta m-search-result__title">
    <a href="{{ result.link }}">{{ title }}</a>
  </h2>
  <p class="m-search-result__summary">{{ summary }}<br><a class="m-search-result__link" href="{{ url }}">{{ url }}</a></p>
</div>
