{#
/**
 * Accordion - see Accordion.js
 * Dev note: The `[role="tab"]` div must match the values
 * in the `[role="tabcontent"]` and these must be unique too.
 *
 * If you have 2 sets of tabs on the same page e.g.
 * `<div id="accordion1" aria-labelledby="accordion1">` can't appear multiple times
 */
#}

{# Avoid awkward situation where an include inside an include is rejected by a PHP template #}
{% if path is not defined %}
  {% set path = '../' %}
{% endif %}

{# If some key variables are missing, load in the default content #}
{% if tabs is empty %}
{%
  set tabs = [
    {
      title: 'Basic WYSIWYG content',
      content: '<p>Basic content in this tab. Just a sentence or two - <a href="#">Maybe a link too</a></p>'
    },
    {
      title: 'Listing cards with image',
      content: [
        {
          title: 'Listing title 1',
          filename: 'card-listing/_card-listing'
        },
        {
          title: 'Listing title 2 - that is actually quite long and spans 2-3 lines',
          filename: 'card-listing/_card-listing'
        },
        {
          title: 'Listing title 3',
          filename: 'card-listing/_card-listing'
        }
      ]
    },
    {
      title: 'Listing cards no image',
      content: [
        {
          title: 'Listing title 1',
          filename: 'card-listing/_card-listing--no-image'
        },
        {
          title: 'Listing title 2 - that is actually quite long and spans 2-3 lines',
          filename: 'card-listing/_card-listing--no-image'
        },
        {
          title: 'Listing title 3',
          filename: 'card-listing/_card-listing--no-image'
        }
      ]
    },
    {
      title: 'Event cards',
      content: [
        {
          tag: 'Exhibition',
          type: 'Exhibition',
          title: 'Event title 1',
          filename: 'card-event/_card-event'
        },
        {
          tag: 'New',
          type: 'Performance',
          title: 'Event title 2 - that is actually quite long and spans 2-3 lines',
          filename: 'card-event/_card-event'
        },
        {
          title: 'Event title 3',
          filename: 'card-event/_card-event'
        }
      ]
    },
    {
      title: 'Cycling Map',
      content: '<p>An intro paragraph before we show the map.</p>
      <div data-behavior="InteractiveMap" class="" data-directions="BICYCLING" data-latitude="39.9606433" data-longitude="-75.1750015">
       <img src="https://maps.googleapis.com/maps/api/staticmap?center=39.9606433,-75.1750015&zoom=4&size=740x480&amp;key=AIzaSyB0AYFpwKKoAreACPxfvL52r3VRWYRdWko" alt="" height="480" width="740">
      </div>'
    },
    {
      title: 'Map - no directions',
      content: '<p>An intro paragraph before we show the map.</p>
      <div data-behavior="InteractiveMap" class="" data-latitude="39.9606433" data-longitude="-75.1750015">
       <img src="https://maps.googleapis.com/maps/api/staticmap?center=39.9606433,-75.1750015&zoom=4&size=740x480&amp;key=AIzaSyB0AYFpwKKoAreACPxfvL52r3VRWYRdWko" alt="" height="480" width="740">
      </div>'
    }
  ]
%}
{% endif %}

<div class="m-accordion-tabs" data-behavior="Accordion" role="tablist" data-close-others="true">
  {% for tab in tabs %}
    {# Create a random id for each tab/button so they link up and don't match any other tabs on the page. See note at top of the file #}
    {% set tabId = random(2000) %}
    <button type="button"
      class="m-accordion-tabs__title font-delta"
      aria-selected="false"
      role="tab"
      tabindex="0"
      aria-controls="accordion{{ tabId }}"
      aria-expanded="false"
    >
      {{ tab.title }}
      <span class="m-accordion-tabs__icon"><svg height="20" width="20"><use xlink:href="#icon--icon_arrow_down"></use></svg></span>
    </button>
    <div
      id="accordion{{ tabId }}"
      class="m-accordion-tabs__body"
      aria-labelledby="accordion{{ tabId }}"
      aria-hidden="true"
      role="tabpanel"
    >
      <div class="m-accordion-tabs__inner">
        {% if tab.content is iterable %}
          {% for partial in tab.content %}
            {% include path ~ partial.filename ~ ".twig" with partial %}
          {% endfor %}
        {% else %}
          {{ tab.content|raw }}
        {% endif %}
      </div>
    </div>
  {% endfor %}

</div>
