{# If some key variables are missing, load in the default content #}
{% if title is empty %}
  {% set title = 'Artwork title - 100% width' %}
{% endif %}

{% if link is empty %}
  {% set link = '/static/pages/exhibition.php' %}
{% endif %}

{% if summary is empty %}
  {%
    set summary = [
      '<p>Summary will sit here.</p>'
    ]
  %}
{% endif %}

{% if copyright is empty %}
  {% set copyright = '&copy; 2017 Name of someone' %}
{% endif %}

{% if image is empty %}
  {% set image = '//placehold.it/1440x580' %}
{% endif %}

<div class="m-card-artwork">
  <div class="m-card-artwork__header">
    <a href="{{ link }}"><img class="m-card-artwork__media m-card-artwork__media--100pc" src="{{ image }}" alt="{{ title }}"></a>
  </div>
  <div class="m-card-artwork__body">
    <h3 class="font-bold-heading m-card-artwork__title"><a href="{{ link }}">{{ title }}</a></h3>
    <div class="m-card-artwork__summary">
      {% for p in summary %}
        {{ p|raw }}
      {% endfor %}
    </div>
    <div class="m-card-artwork__copyright">{{ copyright|raw }}</div>
  </div>
</div>
