{# If some key variables are missing, load in the default content #}
{% if title is empty %}
  {% set title = 'Landing Door' %}
{% endif %}

{% if link is empty %}
  {% set link = '#' %}
{% endif %}

{% if image is empty %}
  {% set image = '//placehold.it/1220x580' %}
{% endif %}

{% if linkText is empty %}
  {% set linkText = 'Know more' %}
{% endif %}
{% if summary is empty %}
  {%
    set summary = [
      '<p>Summary will sit here.</p>'
    ]
  %}
{% endif %}

<div class="m-landing-door">
  <div class="m-landing-door__header">
    <a href="{{ link }}"><img class="block-image" src="{{ image }}" alt="{{ title }}"></a>
  </div>
  <div class="m-landing-door__body">
    <h3 class="font-gamma m-landing-door__title">{{ title }}</h3>
    <div class="m-landing-door__summary">
      {% for p in summary %}
        {{ p|raw }}
      {% endfor %}
    </div>
    <div class="m-landing-door__link">
      <a class="a-brand-link" href="{{ link }}">{{ linkText }}<span class="visuallyhidden"> about {{ title }}</span></a>
    </div>
  </div>
</div>
